= simple_form_for task, :remote => true do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, :required => true
    = f.input :description, :autofocus => true
    = f.hidden_field :status_id

  = f.button :submit
