= simple_form_for(@task) do |f|
  = f.error_notification

  .form-inputs
    = f.input :description, :autofocus => true
    = f.input :title, :required => true
    = f.association :status

  .form-actions
    = f.button :submit
