= simple_form_for Task.new, :remote => true do |f|
  = f.error_notification

  .form-inputs
    = f.input :description, :autofocus => true
    = f.input :title, :required => true

  .form-actions
    = f.button :submit
