= form_tag remove_selected_tasks_path, :id => "#{task_type}_list_form", :class => 'task_list', :remote => true, :method => :delete do
  %ul.sortable.nav.nav-list{:id => task_type}
    %li.nav-header
      = task_type
    - cache tasks do
      = render tasks
  = submit_tag 'Edit list', :id => "#{task_type}_submit", :class => 'task_list', :data => { :updatelist => false }