= form_tag remove_selected_tasks_path, :id => "#{task_type}_list_form", :class => 'task_list', :remote => true, :method => :delete do
  %ul.sortable.nav.nav-list{:id => task_type}
    %li.nav-header
      = task_type
    - cache tasks do
      = render tasks
  %br
  = submit_tag 'Edit list', :id => "#{task_type}_submit", :class => 'task_list', :data => { :updatelist => false }
= will_paginate tasks, :param_name => task_type.downcase.pluralize, :page_links => false
- if can_add
  %div.add_task.well{:id => "add_#{task_type}"}
    = render 'tasks/form', :task => tasks.build