= form_tag update_multiple_tasks_path, :method => :put do
  - @tasks.each do |task|
    = simple_fields_for "tasks[]", task do |f|
      %h2= h task.title
      = render "fields", :f => f
  = submit_tag "Submit"