- unless @tasks.nil?
  - @tasks.each do |task|
    - if task.destroyed?
      $("##{task.status.name.capitalize}").children("##{task.id}").fadeOut('slow',function()
      {
      $(this).remove();
      });
      $('[type="checkbox"]').css("visibility", "hidden");
  $("##{@tasks.first.status.name.capitalize}").children('li').children('[type="checkbox"]').css("visibility", "hidden");
  $("##{@tasks.first.status.name.capitalize}_submit").data('updatelist', false);
  $("##{@tasks.first.status.name.capitalize}_submit").val('Edit list');